._grid_11zxy_1{flex:1;padding:var(--mantine-spacing-sm);gap:var(--mantine-spacing-xs);height:fit-content;max-height:100%;overflow-y:auto}._card_11zxy_10{padding:var(--mantine-spacing-sm);box-shadow:var(--mantine-shadow-sm)}._card_11zxy_10._selected_11zxy_15{border:2px var(--mantine-primary-color-filled-hover) solid}._card_11zxy_10 span{font-size:var(--mantine-font-size-sm);color:var(--mantine-color-dimmed);font-weight:500}
