name: Resources and Code Check

on:
  pull_request:

jobs:
  check:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: |
          npm run install:resources
          npm run build:resources

      - name: Resources check
        run: cd ./package && npm run check

      - name: Code check
        run: |
          npm run lint
          npm run test
